references/Outil/newV11/seda_v1-0_archive-simplifie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== Archive - Standard d'echange de donnees pour l'archivage ===== -->
<!-- ================================================================== -->
<!--
	Schema agency: Service interministériel des archives de France (SIAF)
	Schema version: 1.0
	Schema date: 06 Juillet 2012

	Copyright (c) 2011 Service interministériel des archives de France

	Ce document est sous licence Creative Commons Paternité 2.0 France.
	Pour accéder à une copie de cette licence, merci de vous rendre à l'adresse suivante
	http://creativecommons.org/licenses/by/2.0/fr/ ou envoyez un courrier à
	Creative Commons, 444 Castro Street, Suite 900,
	Mountain View, California, 94041, USA.

	Prefix: AAESx1
-->

<xsd:schema
        targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0"
        xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10"
        xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1"
        xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="1.0">


        <!-- ======================================================== -->
        <!-- ====                Includes                        ==== -->
        <!-- ======================================================== -->
        <xsd:include schemaLocation="seda_v1-0_organization.xsd"/>
        <xsd:include schemaLocation="othermetadata.xsd"/>
        <xsd:include schemaLocation="seda_v1-0_versions.xsd"/>

        <!-- ======================================================== -->
        <!-- ====                Imports                         ==== -->
        <!-- ======================================================== -->
        <!-- ======================================================== -->
        <!-- ====        Import of CoreComponentTypes            ==== -->
        <!-- ======================================================== -->
        <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="UnqualifiedDataType_10p0.xsd"/>
        <xsd:import namespace="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1"  schemaLocation="seda_v1-0_QualifiedDataType.xsd"/>

        <!-- ======================================================== -->
        <!-- ====             Archive element                    ==== -->
        <!-- ======================================================== -->

        <xsd:element name="Archive" type="ArchiveType"/>

        <!-- ======================================================== -->
        <!-- ====                Type Definition                 ==== -->
        <!-- ======================================================== -->

        <xsd:complexType name="ArchiveType">
                <xsd:annotation>
                        <xsd:documentation>
                                <ccts:UniqueID>AAES000001</ccts:UniqueID>
                                <ccts:Acronym>ABIE</ccts:Acronym>
                                <ccts:DictionaryEntryName>Archive</ccts:DictionaryEntryName>
                                <ccts:Version>1.0</ccts:Version>
                                <ccts:Definition>Objet correspondant à un ensemble constitué d'objets-données, de leurs informations de représentation, 
                                        de leurs informations de pérennisation et de leurs informations de gestion. 
                                        Il s'agit du plus haut niveau de description de ce qui est échangé.</ccts:Definition>
                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                <ccts:QualifierTerm>Archive</ccts:QualifierTerm>
                        </xsd:documentation>
                </xsd:annotation>

                <xsd:sequence>
                		<xsd:element name="Versions" type="VersionsCodeType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-30</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.VersionsCode</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiants des référentiels externes utilisés par l'émetteur de l'archive.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Versions</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                		</xsd:element>

                        <xsd:element name="ArchivalAgencyArchiveIdentifier"  type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-01</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.ArchivalAgencyArchiveIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant attribué à l'&lt;Archive&gt; par le service d'archives.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalAgencyArchiveIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="ArchivalAgreement" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-02</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.ArchivalAgreement</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Convention de services : porte sur les conditions qui pourront faire l'objet d'un contrôle
                                                        par le SAE pour une catégorie d'archives (périodicité de la transaction, volumétries, 
                                                        formats des données...).</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalAgreement</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="ArchivalProfile" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-03</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.ArchivalProfile</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Modèle de description/profil d'archivage pour une catégorie d'archives donnée.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalProfile</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Name" type="udt:TextType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-05</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.Name</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Intitulé de l'&lt;Archive&gt;.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Name</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="OriginatingAgencyArchiveIdentifier"  type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-06</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.OriginatingAgencyArchiveIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant attribué à l'&lt;Archive&gt; par le service producteur.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>OriginatingAgencyArchiveIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="ServiceLevel" type="qdt:ArchivesCodeType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-07</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.ServiceLevel</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Niveau de service demandé (disponibilité, sécurité...).</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ServiceLevel</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="TransferringAgencyArchiveIdentifier"  type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-08</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.TransferringAgencyArchiveIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant attribué à l'&lt;Archive&gt; par le service versant.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferringAgencyArchiveIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="MetadataFile" type="xsd:string" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">
									<ccts:Name>Metadata File</ccts:Name>
									<ccts:Definition>The filename of the Metadata file for all ArchiveObjects.</ccts:Definition>
									<ccts:PrimitiveType>string</ccts:PrimitiveType>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
                        
                        <xsd:element name="ArchiveObject" type="ArchiveObjectType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000001-12</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Archive.ArchiveObject</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Objet correspondant à une subdivision de l'&lt;Archive&gt;.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Archive</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchiveObject</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

        <!-- ======================================================== -->
        <!-- ====                Type Definition                 ==== -->
        <!-- ======================================================== -->

        <xsd:complexType name="ArchiveObjectType">
                <xsd:annotation>
                        <xsd:documentation>
                                <ccts:UniqueID>AAES000003</ccts:UniqueID>
                                <ccts:Acronym>ABIE</ccts:Acronym>
                                <ccts:DictionaryEntryName>ArchiveObject</ccts:DictionaryEntryName>
                                <ccts:Version>1.0</ccts:Version>
                                <ccts:Definition>Objet correspondant à une subdivision d'une &lt;Archive&gt; ou d'un &lt;ArchiveObject&gt;.</ccts:Definition>
                                <ccts:ObjectClassTerm>ArchiveObject</ccts:ObjectClassTerm>
                                <ccts:QualifierTerm>ArchiveObject</ccts:QualifierTerm>
                        </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>

                        <xsd:element name="ArchivalAgencyObjectIdentifier" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000003-01</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveObject.ArchivalAgencyObjectIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant attribué à l'&lt;ArchiveObject&gt; par le service d'archives.</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveObject</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalAgencyObjectIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Name" type="udt:TextType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000003-02</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveObject.Name</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Intitulé de l'&lt;ArchiveObject&gt;.</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveObject</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Name</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="OriginatingAgencyObjectIdentifier" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000003-03</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveObject.OriginatingAgencyObjectIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant attribué à l'&lt;ArchiveObject&gt; par le service producteur.</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveObject</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>OriginatingAgencyObjectIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="TransferringAgencyObjectIdentifier" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000003-04</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveObject.TransferringAgencyObjectIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant attribué à l'&lt;ArchiveObject&gt; par le service versant.</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveObject</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferringAgencyObjectIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
						<xsd:element name="MetadataFile" type="xsd:string" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">
									<ccts:Name>Metadata File</ccts:Name>
									<ccts:Definition>The filename of the Metadata file for all Documents.</ccts:Definition>
									<ccts:PrimitiveType>string</ccts:PrimitiveType>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

                        <xsd:element name="Document" type="DocumentType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000003-09</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveObject.Document</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Objet correspondant à une subdivision de l'&lt;AchiveObject&gt;
                                                        ne pouvant pas lui-même être subdivisé et comportant obligatoirement un 
                                                        objet-données (fichier), ses informations de représentation et ses informations de pérennisation</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveObject</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Document</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

        <!-- ======================================================== -->
        <!-- ====                Type Definition                 ==== -->
        <!-- ======================================================== -->

        <xsd:complexType name="DocumentType">
                <xsd:annotation>
                        <xsd:documentation>
                                <ccts:UniqueID>AAES000006</ccts:UniqueID>
                                <ccts:Acronym>ABIE</ccts:Acronym>
                                <ccts:DictionaryEntryName>Document</ccts:DictionaryEntryName>
                                <ccts:Version>1.0</ccts:Version>
                                <ccts:Definition>Objet correspondant à une subdivision de &lt;Archive&gt; ou de &lt;ArchiveObject&gt;
                                        ne pouvant pas lui-même être subdivisé et comportant obligatoirement un objet-données (fichier),
                                        ses informations de représentation et ses informations de pérennisation.</ccts:Definition>
                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                <ccts:QualifierTerm>Document</ccts:QualifierTerm>
                        </xsd:documentation>
                </xsd:annotation>

                <xsd:sequence>
                        <xsd:element name="ArchivalAgencyDocumentIdentifier" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-01</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.ArchivalAgencyDocumentIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant attribué au &lt;Document&gt; par le service d'archives.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalAgencyDocumentIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-02</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Attachment</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Objet-données (contenu binaire ou fichier joint).</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Attachment</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Control" type="qdt:ArchivesCodeType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-03</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Control</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Indique le code correspondant à un
                                                        contrôle à effectuer sur l'objet-données.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Control</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Copy" type="udt:IndicatorType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-04</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Copy</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Indique si l'objet-données est un original (valeur "false") ou une copie (valeur "true").</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Creation" type="udt:DateTimeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-05</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Creation</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Date de création de l'objet-données.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Creation</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
 
                        <xsd:element name="Integrity" type="qdt:ArchivesHashcodeBinaryObjectType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation >
                                                <ccts:UniqueID>AAES000006-07</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Integrity</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Empreinte de l'objet-données.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Integrity</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="Issue" type="udt:DateTimeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-08</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Issue</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Date d'émission de l'objet-données.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Issue</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="OriginatingAgencyDocumentIdentifier" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-10</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.OriginatingAgencyDocumentIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                        <ccts:Definition>Identifiant attribué au &lt;Document&gt; par le service producteur.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>OriginatingAgencyDocumentIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Receipt" type="udt:DateTimeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-12</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Receipt</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Date de réception de l'objet-données.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Receipt</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Response" type="udt:DateTimeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-13</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Response</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Date de réponse de l'objet-données.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Response</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="Size" type="qdt:MeasureType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-14</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Size</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Taille du contenu de l'objet-données.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Size</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="Status" type="qdt:ArchivesCodeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-15</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Status</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Etat de l'objet-données (par rapport avec
                                                  son cycle de vie). Permet par exemple d'indiquer
                                                  si la signature du contenu binaire ou fichier a été vérifiée avant
                                                  transfert aux archives.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Status</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Submission" type="udt:DateTimeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-16</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Submission</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Date de soumission de l'objet-données par un émetteur à un destinataire.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Submission</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="TransferringAgencyDocumentIdentifier" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-17</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.TransferringAgencyDocumentIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                        <ccts:Definition>Identifiant attribué au &lt;Document&gt; par le service  versant.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferringAgencyDocumentIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Type" type="qdt:CodeDocumentType" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AAES000006-18</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>Document.Type</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..n</ccts:Cardinality>
                                                <ccts:Definition>Type de l'objet-données, Permet notamment de différencier un objet contenu et l'information
                                                  de représentation ou de pérennisation de cet objet  (OAIS), par exemple les données d'une base de
                                                  données et le descriptif de sa structure.</ccts:Definition>
                                                <ccts:ObjectClassTerm>Document</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

						<xsd:element name="MetadataFile" type="xsd:string" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">
									<ccts:Name>Metadata File</ccts:Name>
									<ccts:Definition>The filename of the Metadata file for one Document.</ccts:Definition>
									<ccts:PrimitiveType>string</ccts:PrimitiveType>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
                        
                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>
 
</xsd:schema>
